@model IEnumerable<LocalityBaseNetCore.Models.Locality>
@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">Населённые пункты</h1>
    <table>
        <tr>
            <td>Название</td>
            <td>Тип</td>
            <td>Подчинение</td>
            <td>Население, тыс. чел.</td>
            <td>Бюджет, дес. мил. руб.</td>
            <td>Глава</td>
        </tr>
        @foreach (var loc in Model)
        {
            <tr>
                <td>@loc.Name</td>
                <td>@loc.Type</td>
                <td>@loc.Submission</td>
                <td>@loc.PeopleCount.ToString("F")</td>
                <td>@loc.Budget.ToString("F")</td>
                <td>@loc.Headman</td>
            </tr>
        }
    </table>
</div>
