@model LocalityBaseNetCore.Models.LocalityList
@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">Населённые пункты</h1>
    <table>
        <tr>
            <td>Название</td>
            <td>Тип</td>
            <td>Подчинение</td>
            <td>Население, тыс. чел.</td>
            <td>Бюджет, дес. мил. руб.</td>
            <td>Глава</td>
        </tr>
        @foreach (var loc in Model.Localities)
        {
            <tr>
                <td>@loc.Name</td>
                <td>@loc.Type</td>
                <td>@loc.Submission</td>
                <td>@loc.PeopleCount.ToString("F").TrimEnd('0').TrimEnd(',')</td>
                <td>@loc.Budget.ToString("F").TrimEnd('0').TrimEnd(',')</td>
                <td>@loc.Headman</td>
            </tr>
        }
    </table>
    <p>Общий бюджет, дес. мил. руб.: @Model.OverallBudget</p>
    <p>Средний бюджет, дес. мил. руб.: @Model.AverageBudget</p>
    <p>Общее население, тыс. чел.: @Model.OverallPeople</p>
    <p>Среднее население, тыс. чел.: @Model.AveragePeople</p>
</div>
