@* @model LocalityBaseNetCore.Models.LocalityList *@
@model IEnumerable<LocalityBaseNetCore.Models.Locality>
@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">Населённые пункты</h1>
    <button id="showAddForm" onclick="toggleTableVisibility()">Добавить населённый пункт</button>
    <div id="AddLocalityForm" style="visibility: collapse">
        @await Html.PartialAsync("_AddLocality", new InputLocality());
    </div>
    <table class="table-bordered">
        <tr>
            <td>Название</td>
            <td>Тип</td>
            <td>Подчинение</td>
            <td>Население, тыс. чел.</td>
            <td>Бюджет, дес. мил. руб.</td>
            <td>Глава</td>
        </tr>
        @foreach (var loc in Model)
        {
            <tr>
                <td>@loc.Name</td>
                <td>@loc.Type</td>
                <td>@loc.Submission</td>
                <td>@loc.PeopleCount.ToString("F").TrimEnd('0').TrimEnd(',')</td>
                <td>@loc.Budget.ToString("F").TrimEnd('0').TrimEnd(',')</td>
                <td>@loc.Headman</td>
            </tr>
        }
    </table>
    <p>Общий бюджет, дес. мил. руб.: @ViewBag.OverallBudget</p>
    <p>Средний бюджет, дес. мил. руб.: @ViewBag.AverageBudget</p>
    <p>Общее население, тыс. чел.: @ViewBag.OverallPeople</p>
    <p>Среднее население, тыс. чел.: @ViewBag.AveragePeople</p>
</div>

<script>
    function toggleTableVisibility() {
        let table=document.getElementById('AddLocalityForm');
        table.style.visibility==='collapse' ? table.style.visibility='visible' : table.style.visibility='collapse';
    }
</script>